* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#authorize_button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
#signout_button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
#content {
    font-size: 22px;
}
.formGet {
    display: flex;
    flex-direction: column;
}
.formGet label {
    font-size: 22px;
    padding-bottom: 15px;
}
.formGet input {
    margin-bottom: 15px;
}
.nameformGet {
    font-size: 22px;
    text-decoration: underline;
}
.nameformAdd {
    padding-bottom: 20px;
    font-size: 22px;
    text-decoration: underline;
}
.formAdd {
    display: flex;
    flex-direction: column;
}
.formAdd label {
    font-size: 22px;
}
.formAdd input {
    margin: 10px 0;
}
.form-block {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
}
.formDelete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formDelete label {
    font-size: 22px;
}
.formDelete input {
    margin: 10px 0;
}
.nameformDelete {
    padding-bottom: 10px;
    font-size: 22px;
    text-decoration: underline;
}